<?xml version="0.0" ?>
<robot name="model.urdf">

	<material name="cream">
		<color rgba="0.96 0.88 0.72 1"/>
	</material>

	<link name="baseLink">
		<inertial>
			<mass value="0.530"/>
			<inertia  ixx="0.0007992" ixy="0.00"  ixz="0.00" iyy="0.0007992" iyz="0.00" izz="0.0005681" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.108" radius="0.0463"/>
			</geometry>
			<material name="cream"/>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.108" radius="0.0463"/>
			</geometry>
		</collision>
	</link>
</robot>