<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <visual>
			<origin xyz="0 0 0" rpy="-1.57 0 0"/>
      <geometry>
        <mesh filename="model.obj" scale="0.8 0.8 0.8"/>
      </geometry>
      <material name="white">
        <texture filename="assets/urdf_models//models/Weston_No_22_Cajun_Jerky_Tonic_12_fl_oz_nLj64ZnGwDh_2/texture.png"/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="model.obj" scale="0.8 0.8 0.8"/>
      </geometry>
    </collision>
    <inertial>
			<mass value="0.12506"/>
			<inertia  ixx="	0.000346" ixy="0.00" ixz="0.00" iyy="	0.000346" iyz="0.00" izz="0.000165" />
		</inertial>
  </link>
</robot>