<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <visual>
			<origin xyz="0 0 0" rpy="-1.57 0 0"/>
      <geometry>
        <mesh filename="model.obj" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <texture filename="assets/urdf_models/models/Seagate_1TB_Wireless_Plus_mobile_device_storage_3/texture.png"/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="model.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
			<mass value="0.74502"/>
			<inertia  ixx="0.00050749" ixy="0.00" ixz="0.00" iyy="0.000037813" iyz="0.00" izz="0.00052496" />
		</inertial>
  </link>
</robot>