<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <visual>
			<origin xyz="0 0 0" rpy="-1.57 0 0"/>
      <geometry>
        <mesh filename="model.obj" scale="0.75 0.75 0.75"/>
      </geometry>
      <material name="white">
        <texture filename="assets/urdf_models/models/Creatine_Monohydrate_2/texture.png"/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="model.obj" scale="0.75 0.75 0.75"/>
      </geometry>
    </collision>
    <inertial>
			<mass value="0.53091"/>
			<inertia  ixx="0.002079" ixy="0.00"  ixz="0.00" iyy="0.002079" iyz="0.00" izz="0.002472" />
		</inertial>
  </link>
</robot>