<?xml version="0.0" ?>
<robot name="model.urdf">

	<material name="white">
		<color rgba="0.93 0.92 0.85 1"/>
	</material>

	<link name="baseLink">
		<inertial>
			<mass value="0.219"/>
			<inertia  ixx="0.00029286" ixy="0.00"  ixz="0.00" iyy="0.00029286" iyz="0.00" izz="0.00016783" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.107" radius="0.03915"/>
			</geometry>
			<material name="white"/>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.107" radius="0.03915"/>
			</geometry>
		</collision>
	</link>
</robot>