<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <visual>
			<origin xyz="0 0 0" rpy="-1.57 0 0"/>
      <geometry>
        <mesh filename="model.obj" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <texture filename="assets/urdf_models/models/test_object_google_3/texture.png"/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="model.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>