<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <visual>
			<origin xyz="0 0 0" rpy="-1.57 0 0"/>
      <geometry>
        <mesh filename="model.obj" scale="0.8 0.8 0.8"/>
      </geometry>
      <material name="white">
        <texture filename="assets/urdf_models/models/Mario_Party_9_Wii_Game_3/texture.png"/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="model.obj" scale="0.8 0.8 0.8"/>
      </geometry>
    </collision>
    <inertial>
			<mass value="0.5021"/>
			<inertia  ixx="0.00098744" ixy="0.00" ixz="0.00" iyy="0.00051425" iyz="0.00" izz="0.0014858" />
		</inertial>
  </link>
</robot>