<?xml version="0.0" ?>
<robot name="model.urdf">

	<material name="dark_yellow">
		<color rgba="0.91 0.82 0.67 1"/>
	</material>

	<link name="baseLink">
		<inertial>
			<mass value="0.405"/>
			<inertia  ixx="0.00022332" ixy="0.00"  ixz="0.00" iyy="0.0008451" iyz="0.00" izz="0.0008567" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.148 0.059 0.056"/>
			</geometry>
			<material name="dark_yellow"/>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.148 0.059 0.056"/>
			</geometry>
		</collision>
	</link>
</robot>