<?xml version="0.0" ?>
<robot name="model.urdf">
  <link name="baseLink">
    <visual>
			<origin xyz="0 0 0" rpy="-1.57 0 0"/>
      <geometry>
        <mesh filename="model.obj" scale="1 1 1"/>
      </geometry>
      <material name="white">
        <texture filename="assets/urdf_models/models/AllergenFree_JarroDophilus_5/texture.png"/>
      </material>
    </visual>
    <collision>
      <geometry>
    	 	<mesh filename="model.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
			<mass value="0.78326"/>
			<inertia  ixx="0.000293" ixy="0.00"  ixz="0.00" iyy="0.000293" iyz="0.00" izz="0.000284" />
		</inertial>
  </link>
</robot>