<?xml version="0.0" ?>
<robot name="model.urdf">

	<material name="grey">
		<color rgba="0.8 0.8 0.8 1"/>
	</material>

	<link name="baseLink">
		<inertial>
			<mass value="0.113"/>
			<inertia  ixx="0.000115" ixy="0.00"  ixz="0.00" iyy="0.000115" iyz="0.00" izz="0.000045" />
		</inertial>
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.099" radius="0.0282"/>
			</geometry>
			<material name="grey"/>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.099" radius="0.0282"/>
			</geometry>
		</collision>
	</link>
</robot>